.gif-container {
	width: 50px;
	height: 50px;
	animation: slidein 1s ease;
}

@keyframes slidein {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

.quote{
    width: 50%;
    margin: 0 auto;
    font-size: 50px;
    color: grey;
    padding-left: 20px;
    border-left: 10px solid #fff;
}